%montserrat-700 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}

%opensans-300 {
  font-family: 'OpenSans-LightItalic', sans-serif;
  font-weight: 400;
}

%opensans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%opensans-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 400;
}


$title: #363838;
$default: #5a5a5a;
